<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="copyright text-muted small">Copyright &copy; {{ .Title }} All Rights Reserved</p>
            </div>
            <div class="col-md-4">
		<br>
                <a href="http://www.twitter.com/eydisb">Twitter?</a>                 <a href="https://www.facebook.com/litlabarnid">Facebook?</a>
            </div>
        </div>
    </div>
</footer>
{{ partial "js.html" . }}
</body>
</html>
